<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Register</title></head>
<body>
    <h1>Daftar Akun Baru</h1>
    
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    
    <form th:action="@{/register}" th:object="${userBaru}" method="post">
        <label>Username:</label>
        <input type="text" th:field="*{username}" required /><br><br>
        
        <label>Password:</label>
        <input type="password" th:field="*{password}" required /><br><br>
        
        <label>Mendaftar Sebagai:</label>
        <select th:field="*{role}">
            <option value="PEMBELI">Pembeli</option>
            <option value="SENIMAN">Seniman</option>
        </select><br><br>
        
        <button type="submit">Register</button>
    </form>
    <p>Sudah punya akun? <a href="/login">Login di sini</a></p>
</body>
</html>